<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>${SNAPREPO}</id>
      <username>${NEXUSUSER}</username>
      <password>${nexuspassword}</password>
    </server>
    <server>
      <id>${releaserepo}</id>
      <username>${NEXUSUSER}</username>
      <password>${nexuspassword}</password>
    </server>
        <server>
        <id>${centralrepo}</id>
      <username>${NEXUSUSER}</username>
      <password>${nexuspassword}</password>
    </server>
    <server>
        <id>${nexusgroup}</id>
      <username>${NEXUSUSER}</username>
      <password>${nexuspassword}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>${centralrepo}</id>
      <name>${centralrepo}</name>
      <url>http://${nexusip}:${nexusport}/repository/${nexusgroup}/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
